.feed-name {
  position: absolute;
  left: 100px;
  top: 10px;
  cursor: pointer;
}

.img-placeholder {
  position: absolute;
  background-color: #f7f7f9; /* GREY LIGHT */
  height: 80px;
  width: 80px;
}

.username-tag {
  position: absolute;
  font-size: 14px;
  top: 72px;
  right: 10px;
  cursor: pointer;
}

.interval-tag {
  position: absolute;
  font-size: 14px;
  top: 50px;
  right: 10px;
}

.tag-container {
  position: absolute;
  left: 100px;
  top: 53px;
  max-width: 200px;
  display: flex;
  flex-wrap: wrap;
}

.tag {
  color: #6d747c; /* GREY DARK */
  font-size: 14px;
  margin-right: 12px;
  cursor: pointer;
}
