// a credentials.js file is required. Such file is added to
// gitignore to prevent from being committed with sensitive data

module.exports.username = "myusername";
module.exports.password = "fancy_password_1234";
